*{
    margin: 0px;
}
.jumbotron{
    background-color: blanchedalmond;
    background-image: url("/background-min.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50%;

}
.nav-link{
    text-decoration: none;
    color: blanchedalmond;
    padding: 5px;
}
.navbar-brand{
    color: floralwhite;
    font-weight: 700;
}
.nav-link:hover{
    font-weight: 600;
    border-bottom:groove;
    color: whitesmoke;
}
 .jumbotron-text {
    position: relative;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    
    padding: 10px;
  }